.navbar .navbar-brand img {
    width: 70px;
    height: auto;
    margin-right: 16px;
}
.navbar-brand{
    font-weight: 500;
}
.banner> img {
    width: 100%;
    background-size: contain;
    height: 80vh;
    object-fit: cover;
    object-position: center;
  
}

.banner {
    position: relative;
}
.banner__content{
    position: absolute;
    left: 30px;
    top: 50%;
    max-width: 500px;
    transform: translateY(-50%);
    color: #fff;
    z-index: 2;
}
.banner::after{
    content: '';
    z-index: 1;
    position: absolute;
    background: #0000003d;
    inset: 0;
}
.carousel-item img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    object-position: center;
}
.carousel-item p {
    position: absolute;
    left: calc(50% + 100px);
    top: 50%;
    font-size: 30px;
    margin: 0;
    font-weight: bold;
}
.ourproduct {
    padding: 30px 0;
}
.ourproduct h2 { 
    margin-left: 30px;
    margin-bottom: 25px;
}

.gallary {
    padding: 30px 0;
}
.gallary h2 { 
    margin-left: 30px;
    margin-bottom: 25px;
}

.ourproduct__outer {
    display: flex;
    flex-wrap: wrap;
}
.card {
    width: calc(33.3% - 16px);
    margin: 8px;
    overflow: hidden;
}
.card .card-img-top {
    height: 250px;
    object-fit: cover;
    object-position: center;
}

.gallary {
    background: #f3f3f3;
}

.gallary .card:hover img{
    transform: scale(1.1);
    transition: 0.3s;
}
.footer{
    display: flex;
    background: #252525;
    padding: 30px 0;
    font-size: 14px;
    color: #fff;
}
.footer__logo img{
    width: 50px;
    height: auto;
}
.footer__logo p{
    font-weight: 500;
}
.footer> div{
    width: 25%;
}
.footer h3 {
    margin-bottom: 15px;
}
.contact img{ 
    width: 10px;
    height: auto;
    margin-right: 5px;
}
.contact{
    display: flex;
    align-items: flex-start;
}
.contact a{
    color: #fff;
}

.msg {
    display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: #e31d24;
  color: #fff;
}

.msg button{
    border: 0;
  border-radius: 3px;
  background: white;
  padding: 5px;
  font-size: 15px;
  font-weight: 600;
  color: #252525;
}
.msg a {
    color: #fff;
}